.image-container {
    width: 100%;
    height: 400px; /* Altura del div */
    background-image: url('C:\Users\Usuario\Desktop\TalentoTech_Modulo1\Web_Restaurante\imagenes\pagina1.jpg'); /* Ruta de la imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
