.swiper {
    width: 600px;
    height: 300px;
}
body{
      margin: 0;
}
.swiper {
      background-color: rgb(66, 66, 66);
      height: 500px;
      width: 500px;
      text-align: center;
      border-radius: 50px;
}
img{
      
      height: 100%;
      width: 100%;
      max-width: 300px;
      max-height: 480px;
      object-fit: contain;
      border-radius: 30px;
  }

  #swiper-slide{
    border: 0;

  }

